body {
    font-family: 'Segoe UI', sans-serif;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.form-control {
    border-radius: 12px;
}

.btn {
    border-radius: 12px;
}
